/* Start Variables */
:root {
	--main-color: #10cab7;
	--secondary-color: #2c4755;
	--section-padding: 60px;
	--section-background: #f6f6f6;
}
/* End Variables */

/* Start Global Ruls */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Work Sans", sans-serif;
}
.container {
	padding: 0px 15px;
	margin: 0px auto;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Start Component */
.special-heading {
	margin: 0;
	color: #ebeced;
	font-weight: 800;
	font-size: 100px;
	text-align: center;
	letter-spacing: -3px;
}
.special-heading + p {
	text-align: center;
	margin: -30px 0 0;
	font-size: 20px;
	color: #797979;
}
@media (max-width: 767px) {
	.special-heading {
		font-size: 60px;
	}
	.special-heading + p {
		margin: -20px 0 0;
	}
}
/* End Component */
/* End Global Ruls */
/*Start Header*/
.header {
	padding: 20px;
}
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo {
	width: 60px;
	cursor: pointer;
}
.header .links {
	position: relative;
}
/* .header .links:hover .icon span:nth-child(2) {
	width: 100%;
} */

.header .links .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	cursor: pointer;
}
.header .links .icon span {
	height: 2px;
	width: 100%;
	background-color: #333;
	margin-bottom: 5px;
}
.header .icon span:nth-child(2) {
	width: 60%;
	transition: 0.3s;
}
.header .links .icon .incress{
	width: 100%;
}
.header .links ul {
	min-width: 200px;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: calc(100% + 15px);
	background-color: #f6f6f6;
	display: none;
	z-index: 1;
	transition: 0.3s;
}
.header .links ul::before {
	content: "";
	position: absolute;
	right: 5px;
	top: -20px;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent #f6f6f6 transparent;

}
/* .header .links:hover ul {
	display: block;
} */
.header .links ul.show{
	display: block;
}
.header .links ul li:not(:last-child) a {
	border-bottom: 1px solid #ddd;
}
.header .links ul a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #333;
	transition: 0.3s;
}
.header .links ul li a:hover {
	padding-left: 25px;
}
/*End Header*/
/*Start landing Section*/
.landing {
	background-image: url(../image/mon.jpg);
	background-size: cover;
	height: calc(100vh - 64px);
	position: relative;
}
.landing .intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 320px;
	max-width: 100%;
}
.landing .intro-text h1 {
	margin: 0;
	font-weight: bold;
	font-size: 50px;
	color: var(--main-color);
}
.landing .intro-text p {
	line-height: 1.8;
	font-size: 19px;
}
/*End landing Section*/
/*Start Feature Section*/
.feature {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-color: var(--section-background);
}
.feature .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}
.feature .feat {
	padding: 20px;
	text-align: center;
	position: relative;
	top: 200px;
	transition: ease-in-out 1s;
	opacity: 0;
}
.feature .feat.animate{
	top: 0px;
	opacity: 1;
}
.feature .container i {
	color: var(--main-color);
}
.feature .feat h3 {
	font-weight: 800;
	margin: 30px 0;
}
.feature .feat p {
	line-height: 1.8;
	font-size: 17px;
	color: #777;
}
/*End Feature Section*/
/*Start Services Section*/
.services {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}

.services .services-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
	margin-top: 100px;
}
.services .services-content .serv {
	display: flex;
	margin-bottom: 40px;
}
@media (max-width: 767px) {
	.services .services-content .serv {
		flex-direction: column;
		text-align: center;
	}
}
.services .services-content .serv i {
	color: var(--main-color);
	flex-basis: 60px;
}
.services .services-content .text {
	flex: 1;
}
.services .services-content .text h3 {
	margin: 0 0 20px;
}
.services .services-content .text p {
	color: #444;
	font-weight: 300;
	line-height: 1.6;
	position: relative;
	transition: ease-in-out 1s;
	left: -300px;
	opacity: 0;
}
.services .services-content .text p.move{
	left: 0;
	opacity: 1;
}
.services .services-content .image {
	text-align: center;
	position: relative;
}
.services .services-content .image::before {
	content: "";
	background-color: var(--secondary-color);
	width: 100px;
	height: calc(100% + 100px);
	position: absolute;
	top: -50px;
	right: 0;
	z-index: -1;
}
@media (max-width: 1199px) {
	.image-columns {
		display: none;
	}
}
.services .services-content .image img {
	width: 260px;
}
/*ŸèEnd Services Section*/
/* Start Protfolio Section */
.protfolio {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-color: var(--section-background);
}
.protfolio .protfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
	margin-top: 100px;
}
@media (max-width: 767px) {
	.protfolio .protfolio-content {
		text-align: center;
	}
}
.protfolio .protfolio-content .card {
	background-color: white;
	transition: 0.5s;
}
.protfolio .protfolio-content .card:hover{
	transform: translateY(-10px);
	box-shadow: 0px 5px 15px #00000026;
}
.protfolio .protfolio-content .card img {
	max-width: 100%;
	cursor: pointer;
}
.protfolio .protfolio-content .info {
	padding: 20px;
}
.protfolio .protfolio-content .info h3 {
	margin: 0;
}
.protfolio .protfolio-content .info p {
	color: #444;
	line-height: 1.6;
	margin-bottom: 0;
}
/* End Protfolio Section */